.centerText {
	text-align: center;
}

.myName{
	font-size: 5em;
}

.myInfo{
	font-size: 1.5em;
}

.nav{
	text-align: center;
}

.row {
    width: 100%;
    margin: 0px auto;
    max-width: 62.5em;
}

.nameTitle{
	text-align: center;
	color: white;
	padding-top: 12em;
}

.header {
    background-color: #498ce8;
    overflow: auto;
}

.images {
	height: 10em;
	width: 10em;
}

.padTop{
	padding-top: 4em;
}

.padBottom{
	padding-bottom: 4em;
}

.footer{
	text-align: center;
}


#navbar a:link {
    color: white;
}

#navbar a:visited {
    color: white;
}

/* mouse over link */
#navbar a:hover {
    color: white;
}

/* selected link */
#navbar a:active {
    color: white;
}

#navbar {
	background:#498ce8;
}

.fixedNav{
    position:fixed;
    top:0;
}

.arrow{
	font-size: 5em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #3f74fa;
}

.navbar-header {
	background-color: #498ce8;
}